<div class="row mt-3">
  <% if @products.size == 0 %>
    <div class="card col-12 m-2">
      <div class="card-body">
        <h1 class="text-center">カートには何もありません</h1>
      </div>
    </div>
  <% else %>
    <% @products.each do |product| %>
        <div class="card col-12 m-2">
          <div class="card-body row">
            <div class="col-6 text-center">
              <h5 class="card-title"><%= product.product.title %></h5>
              <p class="card-text"><%= truncate(product.product.description) %></p>
            </div>
            <div class="col-6">
              <%= form_with url: carts_update_path do |form| %>
                <%= form.hidden_field :product_id, value: product.id %> 
                <%= form.number_field :quantity, value: product.quantity, class: 'form-control w-25 m-2' %>
                <%= form.submit "Update", class: 'btn btn-primary'%>
                <%= link_to 'Delete', carts_remove_path(params: {product_id: product.id}), method: :delete, class: 'btn btn-danger' %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>